<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.games.pablosanjuan.juego1" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".A_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".E_Activity"
            android:label="@string/title_activity_e_" >
        </activity>
        <activity
            android:name=".I_Activity"
            android:label="@string/title_activity_i_" >
        </activity>
        <activity
            android:name=".O_Activity"
            android:label="@string/title_activity_o_" >
        </activity>
        <activity
            android:name=".U_Activity"
            android:label="@string/title_activity_u_" >
        </activity>
        <activity
            android:name=".Splash_Activity"
            android:label="@string/title_activity_splash_" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
